# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter related
build/
.flutter/
.dart_tool/
.packages
.pub/
.pub-cache/

# IntelliJ related (optional, only if you're using IntelliJ/Android Studio)
.idea/
*.iml

# VS Code related (optional, only if you're using VS Code)
.vscode/

# macOS related (optional, only if you're developing on a macOS)
.DS_Store

# Windows related (optional, only if you're developing on Windows)
Thumbs.db

node_modules/